{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "projectName": {
            "value": "bpa@123"
        },
        "repositoryToken": {
            "value": "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"
        },
        "repositoryUrl": {
            "value": "https://github.com/Pravinprabhakarsatpute/business-process-automation"
        }
    }
}